.header__logo {
    display: flex;
    background-image: url("../../../images/header/logo.svg");
    width: 143px;
    height: 34px;
    background-size: cover;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__logo {
        width: 103px;
        height: 24px;
        margin-left: 27px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 103px;
        height: 24px;
        margin-left: 27px;
    }
}

