.elements__like-btn{
    background: transparent url("../../../images/elements/like.svg");
    border: none;
    width: 21px;
    height: 19px;
    cursor: pointer;
}

.elements__like-btn:hover{
    opacity: 0.5;
}

.elements__like-btn:focus{
    outline: none;
}