.profile__username-text{
    display: inline-block;
    width: 295px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .profile__username-text {
        width: 150px;
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .profile__username-text {
        text-align: center;
        width: 201px;
        font-size: 27px;
    }
}