.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    align-self: flex-end;
    width: 41px;
    height: 42px;
    border: none;
    background: transparent url("../../../images/popup/close-icon.svg");
    padding: 0;
    background-size: cover;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.8;
}

.popup__close-button:focus {
    outline: none;
}