@import url(./__container/modal__container.css);
@import url(./__close-button/modal__close-button.css);
@import url(./__form/modal__form.css);
@import url(./__text/modal__text.css);
@import url(./__open/modal__open.css);


.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    width: 430px;
    height: 330px;
    display: none;
    justify-content: center;
    align-items: center;
}